<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.madcoders.chatterjeekaustav.newsworld">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.madcoders.chatterjeekaustav.newsworld.NewsApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

        <activity android:name="com.madcoders.chatterjeekaustav.newsworld.ui.newslist.NewsListActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.madcoders.chatterjeekaustav.newsworld.ui.SingleFragmentActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FinestWebViewTheme.Light"/>
        <activity
            android:name="com.madcoders.chatterjeekaustav.newsworld.ui.splash.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8616845ee4011a32a262032092e3569aa47cd3d8" />
    </application>

</manifest>